.fade {
  opacity: 0;
  will-change: opacity;

  &--show {
    @media screen and (prefers-reduced-motion: no-preference) {
      animation: animation-onLoad forwards;
    }
  }

  &--hide {
    @media screen and (prefers-reduced-motion: no-preference) {
      animation: animation-onLeave forwards;
    }
  }

  @keyframes animation-onLoad {
    from {
      opacity: 0.01;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes animation-onLeave {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.01;
    }
  }
}
