.imageModal {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;

  &__imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &__image {
    object-fit: contain;
  }

  &__imageDescriptionContainer {
    padding-top: 1em;
  }
}
