.sidebar {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding-left: 2rem;
  position: sticky;
  top: 0;
  height: 100vh;
}

.home {
  display: flex;
  align-items: center;
}

.homeLinkContent {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.bodyContent {
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigationContent {
  font-size: 1.3rem;
  color: lightgray;
  text-decoration: none;
  display: block;

  &:first-child {
    border-top: 2px solid lightgray;
    align-self: flex-start;
  }
}
