.sideBarContainer {
  position: relative;
}

.sideBar {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding-left: 2rem;
  position: sticky;
  top: 0;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
}
.ownerName {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.mainItems {
  display: flex;
  // align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & a {
    font-size: 1.3rem;
    color: lightgray;
    text-decoration: none;
    display: block;
  }

  & a:first-child {
    border-top: 2px solid lightgray;
    align-self: flex-start;
  }
}
