@use '../../../../styles/mixins/breakpoints';

.portfolioImage {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  font-size: var(--sm-font);
  color: var(--hovered-portfolio-image-primary);

  @include breakpoints.sm {
    font-size: var(--md-font);
  }

  @include breakpoints.lg {
    font-size: var(--lg-font);
  }

  &:hover {
    &::before {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: attr(data-image-name);
      font-family: "Inter", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-wrap: anywhere;
      text-align: center;
    }
  }
}
