@use '../../../styles/mixins/breakpoints';

.copyright {
  font-family: "Inter", sans-serif;
  color: var(--copyright-primary);
  font-style: italic;
  font-size: var(--xs-font);
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  @include breakpoints.smLandscape {
    position: static;
  }
}
