@use "../../../styles/mixins/breakpoints";

.modal {
  position: fixed;
  top: 1rem;
  bottom: 0;
  left: 10%;
  right: 10%;
  background-color: white;
  z-index: var(--sm-zIndex);
  overflow-y: scroll;

  @include breakpoints.lg {
    left: 50%;
    transform: translateX(-50%);
  }
}
