.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1rem;
  bottom: 0;
  left: 10%;
  right: 10%;
  background-color: white;
  z-index: var(--sm-zIndex);
  overflow-y: scroll;

  &--fullScreen {
    top: 0;
    left: 0;
    right: 0;
  }
}
