.sidebar {
  display: grid;
  grid-template-rows: 1fr 50% 1fr;
  padding-left: 2rem;
  position: sticky;
  top: 0;
  height: 100vh;

  &__home {
    display: flex;
    align-items: center;
  }

  &__homeLinkContent {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
  }

  &__bodyContent {
    display: grid;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__navigationContent {
    font-size: 1.3rem;
    color: lightgray;
    text-decoration: none;
    display: block;
    align-self: flex-start;

    &:first-child {
      border-top: 2px solid lightgray;
    }
  }
}
