@use '../../../styles/mixins/breakpoints';

.categoriesNav {
  display: flex;
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  text-transform: capitalize;
  top: 2rem;
  left: 1rem;
  z-index: var(--xs-zIndex);

  // If in the future we decided to have more categories, we will need to design
  // a hamburger menu or something to accommodate the fact that this navigation
  // will soon overflow.
  @include breakpoints.smLandscape {
    transform: none;
    background-color: var(--categoriesNav-primary);
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
  }

  &__link {
    display: inline-block;
    margin-left: var(--md-spacing);

    // This is so we can move "All" to the front
    @include breakpoints.smLandscape {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin: 0;
      border: 1px solid #f3f3f3;
      font-size: var(--xs-font);

      &:hover {
        border: 1px solid #f3f3f3;
        background-color: #f3f3f3;
      }

      &:last-child {
        order: -1;
      }
    }
  }
}
