$NUMS_CODE: (
  "One": "a",
  "Two": "b",
  "Three": "c",
  "Four": "d",
  "Five": "e",
  "Six": "f",
);

$numStrings: "";
@each $key, $value in $NUMS_CODE {
  $numStrings: unquote($numStrings + " " + $key);
}

:export {
  global: {
    numstrings: $numStrings;
  }
}

.works {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;

  &__sidebarCategories {
    font-size: 2.2rem;
    list-style-type: "-";
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__sidebarCategory {
    color: var(--black);
    padding-bottom: 0.6rem;
    cursor: pointer;

    &:hover,
    &--selected {
      color: var(--gold);
    }
  }

  &__portfolio {
    display: grid;
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-template-rows: repeat(10, minmax(100px, 1fr));
    grid-gap: 1rem;
  }

  &__photography {
    grid-template-areas:
      ". . . b b . . . . ."
      "a a . b b . c c c c"
      "a a . . . . c c c c"
      ". . . . . . c c c c"
      ". . . . d d d . . ."
      ". . . . d d d . . ."
      ". . . . . . . . . ."
      "e e e . . . f f . ."
      "e e e . . . f f . ."
      "e e e . . . . . . .";
  }

  &__illustration {
    grid-template-areas:
      ". . . c c . . . . ."
      ". . . c c . . . . ."
      ". . . . a a . . . ."
      ". . . . a a . . . ."
      "b b . . . . . . d d"
      "b b . e e . . . d d"
      ". . . e e . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . f f . . . . .";
  }

  &__architecture {
    grid-template-areas:
      ". . . . . . . a a a"
      ". c . . . . . a a a"
      ". c . . . . . a a a"
      ". c . . . . . . . ."
      "e e e e . . d . . ."
      ". . . . . . . . . ."
      ". b . . . . . . . ."
      ". b . . . . . f f ."
      ". . . . . . . f f ."
      ". . . . . . . . . .";
  }

  &__portfolioImage {
    width: 100%;
    border: 1px solid black;
    cursor: pointer;

    @each $key, $value in $NUMS_CODE {
      &--#{$key} {
        grid-area: #{$value};
      }
    }
  }
}
