.portfolioModal {
  padding: 2rem;

  &__modalImageContainer {
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
  }

  &__image {
    padding-bottom: 1rem;
    align-self: center;
  }

  &__caption {
    font-style: italic;
  }

  &__title {
    padding: 0 0 1rem 0;
  }

  &__description {
    display: flex;
  }
}
