.portfolioModal {
  padding: 2rem;
  font-family: "Inter", sans-serif;

  &__modalImageContainer {
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
  }

  &__image {
    padding-bottom: 1rem;
    align-self: center;
  }

  &__caption {
    display: flex;
    justify-content: center;
    font-style: italic;
  }

  &__title {
    display: inline-block;
    font-size: var(--lg-font);
    padding: 0 0 1rem 0;
  }

  &__description {
    display: flex;
  }
}
