.portfolioImage {
  cursor: pointer;
  color: var(--black);
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    // background: linear-gradient(
    //     rgba(255, 255, 255, 0.5),
    //     rgba(255, 255, 255, 0.5)
    //   ),
    //   url("http://localhost:1337/uploads/youtube_ed1aff3b70.svg");

    &::after {
      display: inline-block;
      position: absolute;
      top: 45%;
      font-size: var(--xl-font);
      transform: translate(-50%, 0);
      left: 50%;
      content: attr(data-image-name);
      font-family: "Inter", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
