@use '../../../styles/mixins/breakpoints';

.contact {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  &__link {
    margin-left: var(--md-spacing);
  }

  @include breakpoints.smLandscape {
    position: static;
  }
}
