@use "../../../../styles/mixins/breakpoints";

// TODO: Make this a clickable SVG icon
.closeButton {
  position: fixed;
  top: 3rem;
  display: flex;
  right: 16%;
  font-size: 2rem;
  cursor: pointer;
  mix-blend-mode: difference;
  color: white;
  z-index: var(--xs-zIndex);

  @include breakpoints.lg {
    right: 10%;
  }
}
