// TODO: Make this a clickable SVG icon and be adaptable to different colours
.closeButton {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
  mix-blend-mode: difference;
  color: white;
  z-index: var(--xs-zIndex);
}
