:root,
[data-theme="default"] {
  --color-primary: var(--black);
  --background-color-primary: var(--white);
  --background-color-inverted-primary: var(--black);
  --link-border-primary: var(--black);
  --categoriesNav-color-primary: var(--black);
  --categoriesNav-background-primary: var(--gray-secondary);
  --categoriesNav-border-primary: var(--gray-secondary);
  --copyright-primary: var(--gray);
  --hovered-portfolio-image-primary: var(--black);

  // TODO: If Youngi wants more theme options, create a ThemeProvider
  // and inject data-theme into body
  @media (prefers-color-scheme: dark) {
    --color-primary: var(--white);
    --background-color-primary: var(--black);
    --background-color-inverted-primary: var(--white);
    --link-border-primary: var(--white);

  }
}
