:root {
  --xs-font: 0.5rem;
  --sm-font: 1rem;
  --md-font: 1.5rem;
  --lg-font: 2.25rem; // 36px
  --xl-font: 3.9rem;
}

h2 {
  font-size: var(--lg-font);
}

@font-face {
  font-family: "Josefin_Sans", sans-serif;
  src: local("./fonts/Josefin_Sans/JosefinSans.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Josefin_Sans", sans-serif;
  src: local("./fonts/Josefin_Sans/JosefinSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: local("./fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter", sans-serif;
  src: local("./fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: local("./fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04rem;
}
