:root {
  --xs-font: 0.75rem; // 12px
  --sm-font: 1rem; // 16px
  --md-font: 1.5rem; // 24px
  --lg-font: 1.875rem; // 30px
  --xl-font: 3.875rem; // 62px
}

h2 {
  font-size: var(--lg-font);
}

@font-face {
  font-family: "Josefin_Sans", sans-serif;
  src: local("./fonts/Josefin_Sans/JosefinSans.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Josefin_Sans", sans-serif;
  src: local("./fonts/Josefin_Sans/JosefinSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: local("./fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter", sans-serif;
  src: local("./fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: local("./fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04rem;
}
