@use '../../../styles/mixins/breakpoints';

.footer {
  @include breakpoints.smLandscape {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 1rem 3rem;
    flex-grow: 1;
  }
}
